body {
    text-align: center;
    background-color: rgb(250, 223, 227);
    margin-top: 100px;
    background-image: url("../Imagenes/Mibebe.jpeg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment:scroll;
    font-family: Arial, sans-serif;
}

.carta {
    background-color: pink;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    max-width: 90%;
}

.carta:hover {
    transform: scale(1.05);
}

.mensaje-oculto {
    margin-top: 30px;
    font-size: 20px;
    background-color: #fff;
    padding: 20px;
    border: 2px dashed pink;
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.6s ease, max-height 0.6s ease;
}

/* Aparece suavemente */
.mostrar {
    opacity: 1;
    max-height: 1000px;
}

/* Responsive en celular */
@media (max-width: 600px) {
    .carta {
        font-size: 20px;
        padding: 15px;
    }

    .mensaje-oculto {
        font-size: 18px;
        padding: 15px;
    }

    body {
        margin-top: 50px;
        background-size: 80px;
    }
}

